#contact-info  {
  font-size: .8em;
}
.job  {
	border-radius: 25px;
	background-color: #e9e5dc;
    padding: 20px; 
    margin-bottom: 5px;
    }
.accomplishments  {
	font-size: .8em;
}    