section#contact-info  {
  font-size: .8em;
}
section.job  {
	border-radius: 25px;
	background-color: #e9e5dc;
    padding: 20px; 
    margin-bottom: 5px;
    }
 section.job:hover {
    background-color: blue;
}
p.accomplishments  {
	font-size: .8em;
}
	#contact-info p {
  color: blue;
}
